# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebook metadata
*.ipynb~ 

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# IDE-specific files
.vscode/
.idea/
*.iml